@media (max-width: 767px) {
	.center {
		padding-left: calc(50% - 150px);
		padding-right: calc(50% - 150px);
	}

	.header {
		height: 753px;
		&__smallTitle {
			display: flex;
			flex-wrap: wrap;
			font-weight: 400;
			font-size: 28px;
			line-height: 105%;
			letter-spacing: -0.05px;
		}
		&__title {
			margin-top: 28px;
		}
		&__main {
			font-weight: 400;
			font-size: 67px;
			line-height: 60%;
			letter-spacing: -0.05px;
			padding-bottom: 10px;
		}
		&__smallText {
			margin-bottom: 28px;
			font-size: 20px;
			line-height: 135%;
			width: 300px;
		}
		&__footer {
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__button {
			order: 2;
		}
		&__secondSvg {
			width: 80px;
			height: 12px;
			right: 42%;
		}
		&__junior {
			display: none;
		}
		&__juniorMobile {
			font-weight: 400;
			font-size: 28px;
			line-height: 105%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #ffffff;
			display: flex;
			flex-wrap: wrap;
			column-gap: 8px;
			align-items: baseline;
		}
		&__svg {
			left: 25.5%;
			right: 74.5%;
			margin-top: -12px;
		}
		&__strelkaMobile1 {
			padding-bottom: 6px;
		}
		&__description {
			width: 300px;
		}
	}

	.section {
		&__title {
			display: none;
		}
		&__mobileTitle {
			display: flex;
			font-weight: 400;
			font-size: 28px;
			line-height: 105%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			margin-top: 24px;
			width: 300px;
		}
		&__img {
			width: 72px;
			height: 102.6px;
		}
		&__name {
			font-size: 20px;
			line-height: 125%;
			letter-spacing: -0.6px;
		}
		&__firstWhois {
			display: none;
		}
		&__mobileWhois {
			display: block;
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			opacity: 0.3;
		}
		&__creator {
			font-size: 16px;
			line-height: 145%;
			margin-top: 8px;
		}
		&__people {
			flex-direction: row-reverse;
			gap: 8px;
		}
		&__info {
			margin-top: 24px;
			gap: 24px;
		}
		&__about {
			width: 220px;
		}
		&__link {
			margin-top: 16px;
			width: 282px;
		}

		&__firstLink {
			gap: 16px;
		}
		&__secondLink {
			gap: 16px;
		}
		&__specialFirstLink {
			display: none;
		}
		&__specialMobileLink {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
		&__specialMobileSecond {
			order: 1;
		}
		&__mobileSecondLink {
			display: flex;
		}
		&__secondSpecial {
			display: none;
		}
		&__fourthMobile {
			margin-top: 36px;
		}
		&__button {
			width: 300px;
			height: 55px;
			margin-bottom: 40px;
		}
		&__buttonImg {
			width: 69px;
			height: 27px;
		}
		&__buttonFace {
			&_first {
				background-image: url(imgSection/button_firstMobile.png);
				background-repeat: no-repeat;
				position: absolute;
				z-index: 3;
			}
			&_second {
				background-image: url(imgSection/button_secondMobile.png);
				position: absolute;
				background-repeat: no-repeat;
				left: 22.8%;
				z-index: 2;
			}
			&_third {
				background-image: url(imgSection/button_thirdMobile.png);
				position: absolute;
				background-repeat: no-repeat;
				left: 45.6%;
				z-index: 1;
			}
			&_fourth {
				background-image: url(imgSection/button_fourthMobile.png);
				position: absolute;
				background-repeat: no-repeat;
				left: 68.4%;
				z-index: 0;
			}
		}
		&__buttonInfo {
			font-family: 'StratosSkyeng';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			text-align: center;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #ff6d00;
		}
	}

	.about {
		&__quantity {
			display: none;
		}
		&__title {
			font-size: 28px;
			line-height: 105%;
			padding-top: 24px;
			padding-bottom: 16px;
		}
		&__text {
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			width: 300px;
			padding-bottom: 24px;
		}
		&__textSpan {
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
		}
		&__fake {
			width: 14px;
			height: 14px;
			border-radius: 3.5px;
			&::before {
				width: 9.2px;
				height: 7.13px;
				background-image: url(imgAbout/iconMobile.svg);
			}
		}
		&__name {
			font-weight: 500;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__skillName {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__check {
			width: 300px;
		}
		&__textSpan {
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
		}
		&__skills {
			padding-bottom: 24px;
		}
		&__divButton {
			padding-bottom: 32px;
		}
		&__button {
			border: 1px solid #ff6d00;
			border-radius: 12px;
			width: 300px;
			height: 55px;
			font-family: 'StratosSkyeng';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			text-align: center;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
		}
	}

	.info {
		&__title {
			font-weight: 400;
			font-size: 28px;
			line-height: 105%;
			letter-spacing: -0.05px;
			padding-top: 40px;
			padding-bottom: 16px;
			color: #000000;
		}
		&__img {
			width: 134px;
			height: 20px;
		}
		&__text {
			font-family: 'StratosSkyeng';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			width: 300px;
			padding-bottom: 24px;
		}
		&__fourFigure_one {
			position: relative;
			background-image: url(imgInfo/rhombus.png);
			width: 160px;
			height: 160px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			text-align: center;
		}
		&__fourFigure_two {
			position: relative;
			background-image: url(imgInfo/triangle.png);
			width: 135.95px;
			height: 151.11px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			text-align: center;
			display: flex;
			justify-content: flex-start;
		}
		&__fourFigure_three {
			position: relative;
			background-image: url(imgInfo/special.png);
			width: 135.95px;
			height: 135.95px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			text-align: center;
		}
		&__fourFigure_four {
			position: relative;
			background-image: url(imgInfo/hexagon.png);
			width: 150.07px;
			height: 135.95px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			text-align: center;
		}
		&__smallText {
			font-weight: 400;
			font-size: 16px;
			line-height: 135%;
			display: flex;
			align-items: center;
			letter-spacing: -0.0261438px;
			width: 135px;
			&_two {
				text-align: start;
				padding-left: 9px;
			}
			&_three {
				justify-content: center;
			}
			&_four {
				justify-content: center;
			}
		}

		&__link {
			font-weight: 400;
			font-size: 10px;
			line-height: 130%;
			letter-spacing: -0.0261438px;
			text-decoration-line: underline;
			font-feature-settings: 'pnum' on, 'lnum' on;
			&_two {
				padding-left: 9px;
			}
			&_four {
				left: 35%;
				right: 65%;
			}
		}
		&__figure {
			column-gap: 4px;
			row-gap: 12px;
			padding-bottom: 22px;
		}
		&__footer {
			width: 320px;
			padding: 16px 10px;
			margin-bottom: 40px;
			border-radius: 0;
		}
		&__footerTitle {
			font-family: 'StratosSkyeng';
			font-weight: 500;
			font-size: 20px;
			line-height: 125%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__footerText {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__form {
			padding-top: 24px;
		}
	}

	.all {
		&__title {
			font-weight: 400;
			font-size: 28px;
			line-height: 105%;
			letter-spacing: -0.05px;
			padding-bottom: 16px;
		}
		&__first {
			padding-left: 0;
		}
		&__workshop {
			padding: 16px 10px;
			gap: 16px;
			display: flex;
			flex-direction: column-reverse;
			position: relative;
			width: 320px;
			margin-bottom: 40px;
			border-radius: 0;
		}
		&__team {
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			padding-bottom: 0;
		}
		&__second {
			width: 300px;
			height: auto;
		}
		&__img {
			width: 300px;
			height: auto;
		}
		&__workshopimg {
			width: 300px;
			height: 176px;
		}
		&__skills {
			display: block;
			font-weight: 500;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #ad61ff;
			padding-bottom: 16px;
		}
		&__text {
			display: none;
		}
		&__mobileText {
			display: block;
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__videoMain {
			width: 300px;
			height: auto;
		}
		&__videoImg {
			width: 300px;
			height: 213px;
		}
		&__point {
			display: flex;
			gap: 8px;
		}
		&__ultraTitle {
			display: block;
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			width: 300px;
		}
		&__ultraMobileText {
			display: flex;
			flex-direction: column;
			gap: 16px;
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__ultraTabletText {
			display: none;
		}
		&__homeImg {
			width: 300px;
		}
		&__homeworkimg {
			width: 300px;
			height: 249px;
		}
		&__tabletHomeText {
			width: 300px;
		}
		&__homework {
			gap: 16px;
			margin-bottom: 40px;
		}
		&__miniText {
			display: none;
		}
		&__homeminitext {
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			width: 300px;
		}
		&__mobileTextAgain {
			display: block;
			width: 300px;
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}

		&__tabletTextBond {
			display: none;
		}
		&__imgBond {
			width: 300px;
			height: 244px;
		}
		&__mobileTeachers {
			display: block;
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__crown {
			display: block;
		}
		&__greentext {
			display: block;
		}
		&__mobileBlock {
			display: flex;
			flex-direction: column;
			width: 320px;
			background: #f9ebff;
			padding: 16px 10px;
			gap: 16px;
			margin-bottom: 32px;
		}
		&__blocktext {
			width: 300px;
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__blocktitle {
			width: 300px;
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__tabletBlock {
			display: none;
		}
		&__textBond {
			display: flex;
			align-items: center;
		}
		&__mobileSpecial {
			display: none;
		}
		&__mobileGreenText {
			display: block;
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			text-align: center;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #00a665;
		}
		&__greentext {
			display: none;
		}
		&__mobileSpecialHere {
			display: block;
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			width: 300px;
		}
		&__margin {
			margin-left: 0;
		}
		&__HomeMiniText {
			display: block;
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #ad61ff;
		}
		&__TabletHomeMiniText {
			display: none;
		}
		&__mobileSmallText {
			display: block;
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
	}

	.teacher {
		&__main {
			display: none;
		}
		&__mobileMain {
			display: flex;
			flex-direction: column;
			gap: 32px;
		}
		&__title {
			font-weight: 400;
			font-size: 28px;
			line-height: 105%;
			letter-spacing: -0.05px;
			margin-bottom: 24px;
		}
		&__info {
			gap: 24px;
			margin-bottom: 32px;
		}
		&__about {
			width: 220px;
		}
		&__name {
			font-weight: 500;
			font-size: 20px;
			line-height: 125%;
			letter-spacing: -0.6px;
		}
		&__whois {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__creator {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			margin-top: 8px;
		}
		&__block {
			width: 320px;
			height: 399px;
			padding: 16px 10px;
			gap: 24px;
			border-radius: 0;
		}
		&__mobileFreeText {
			display: block;
			width: 300px;
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__tabletFreeText {
			display: none;
		}
		&__eachInput {
			width: 300px;
			height: 48px;
		}
		&__button {
			width: 300px;
			height: 48px;
		}
	}

	.promise {
		padding-bottom: 10px;
		&__title {
			font-style: normal;
			font-weight: 400;
			font-size: 28px;
			line-height: 105%;
			letter-spacing: -0.05px;
			width: 300px;
			padding-top: 32px;
			padding-bottom: 24px;
		}
		&__mark {
			width: 24px;
			height: 20.31px;
		}
		&__text {
			display: block;
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			width: 268px;
		}
		&__tabletText {
			display: none;
		}
		&__block {
			gap: 8px;
			flex-wrap: wrap;
		}
		&__tabletMiniText {
			display: none;
			padding-top: 16px;
			width: 140px;
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__mobileMiniText {
			display: block;
			width: 140px;
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__man {
			display: none;
		}
		&__mobileMan {
			display: block;
			position: absolute;
			bottom: 0;
			left: 61%;
			right: 39%;
			z-index: 1;
		}
		&__miniBlock {
			padding-bottom: 0;
		}
		&__tabletMegaBlock {
			display: none;
		}
		&__mobileMegaBlock {
			display: flex;
			flex-direction: column;
			width: 300px;
			background: #ffffff;
			padding: 10px 10px 15px 10px;
			z-index: 2;
			position: relative;
		}
		&__name {
			font-weight: 500;
			font-size: 20px;
			line-height: 125%;
			letter-spacing: -0.6px;
			&_1 {
				padding-bottom: 16px;
			}
			&_2 {
				padding-bottom: 16px;
			}
			&_3 {
				padding-bottom: 16px;
			}
		}
		&__bigText {
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			&_1 {
				padding-bottom: 40px;
			}
			&_2 {
				padding-bottom: 8px;
			}
			&_3 {
				padding-bottom: 16px;
			}
			&_5 {
				padding-bottom: 16px;
			}
			&_7 {
				padding-bottom: 16px;
			}
			&_9 {
				padding-bottom: 40px;
			}
		}
	}

	.skill {
		&__main {
			display: none;
		}
		&__sqlAbout {
			width: 300px;
		}
		&__sql {
			flex-direction: column;
			padding-bottom: 285px;
			gap: 16px;
		}

		&__sqlName {
			font-weight: 500;
			font-size: 20px;
			line-height: 125%;
			letter-spacing: -0.6px;
		}
		&__sqlTitle {
			font-weight: 500;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__sqlModule {
			flex-direction: column;
			gap: 0;
		}
		&__sqlBlock {
			height: 758px;
		}
		&__first {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__second {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			width: 300px;
		}
		&__special {
			display: none;
		}
		&__sqlImg {
			display: block;
			top: 838px;
		}
		&__analysis {
			flex-direction: column;
			gap: 16px;
			padding-bottom: 32px;
		}
		&__analysisName {
			font-weight: 500;
			font-size: 20px;
			line-height: 125%;
			letter-spacing: -0.6px;
			width: 300px;
		}
		&__analysisBlock {
			height: 294px;
		}
		&__python {
			gap: 16px;
			flex-direction: column;
			padding-bottom: 188px;
		}
		&__pythonWow {
			display: block;
			width: 282.53px;
			height: 215.93px;
			top: 504px;
			left: 0;
		}

		&__pythonBlock {
			height: 464px;
		}
		&__powerBI {
			gap: 16px;
			flex-direction: column;
			padding-bottom: 32px;
		}
		&__powerBIBlock {
			height: 340px;
		}
		&__pythonStat {
			gap: 16px;
			flex-direction: column;
			padding-bottom: 241px;
		}
		&__pythonStatAbout {
			width: 300px;
		}
		&__tabletPythonStatName {
			display: none;
		}
		&__pythonStatName {
			display: block;
			font-weight: 500;
			font-size: 20px;
			line-height: 125%;
			letter-spacing: -0.6px;
		}
		&__pythonStatBlock {
			height: 471px;
		}
		&__analytics {
			gap: 16px;
			flex-direction: column;
			padding-bottom: 24px;
		}
		&__pythonLastName {
			font-weight: 500;
			font-size: 20px;
			line-height: 125%;
			letter-spacing: -0.6px;
		}
		&__analyticsBlock {
			height: 262px;
		}
		&__tabletPythonStatImg {
			display: none;
		}
		&__mobileTitle {
			font-weight: 400;
			font-size: 28px;
			line-height: 105%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__mobileBlock {
			display: block;
		}
		&__mobileText {
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
		}
		&__mobileFirstBlock {
			display: flex;
			flex-direction: column;
			gap: 16px;
			padding-top: 32px;
			padding-bottom: 16px;
		}
		&__mobileSecondBlock {
			display: flex;
			flex-direction: column;
			gap: 8px;
			background: #f9ebff;
			width: 320px;
			height: 388px;
			padding: 16px 10px 24px 10px;
		}
		&__mobileTextAgain {
			font-weight: 500;
			font-size: 18px;
			line-height: 130%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #6000c7;
		}
		&__mobileSpecialBlock {
			display: flex;
			flex-direction: column;
			height: 317px;
			justify-content: space-between;
		}
		&__mobileMark {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #6000c7;
		}
		&__mobileSpecialText {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #6000c7;
		}
		&__mobileMegaSpecial {
			display: flex;
			gap: 8px;
		}
		&__tabletAllImg {
			display: none;
		}
		&__mobileImgBlock {
			height: 464px;
			position: relative;
		}

		&__tabletAllImg {
			display: none;
		}
		&__mobileFooter {
			display: flex;
			flex-direction: column;
			width: 320px;
			background: #ececec;
			gap: 8px;
			padding: 16px 10px;
		}
		&__footerTitle {
			font-weight: 500;
			font-size: 20px;
			line-height: 125%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			width: 300px;
		}
		&__footerText {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			width: 300px;
		}
		&__tabletFooter {
			display: none;
		}
		&__footerTitle {
			font-weight: 500;
			font-size: 20px;
			line-height: 125%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__footerInput {
			width: 300px;
			font-family: 'StratosSkyeng';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			height: 48px;
			padding: 10px 32px 12px 12px;
			&::placeholder {
				font-family: 'StratosSkyeng';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 145%;
				letter-spacing: -0.05px;
				font-feature-settings: 'pnum' on, 'lnum' on;
				color: #000000;
			}
		}
		&__button {
			display: flex;
			width: 300px;
			height: 48px;
			padding: 14px 24px;
			font-family: 'StratosSkyeng';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 130%;
			justify-content: center;
			align-items: center;
			text-align: center;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			&::placeholder {
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: 'StratosSkyeng';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 130%;
				text-align: center;
				letter-spacing: -0.05px;
				font-feature-settings: 'pnum' on, 'lnum' on;
				color: #000000;
			}
		}
		&__footerLast {
			padding-top: 8px;
		}
		&__img {
			position: absolute;
			&_1 {
				left: 13.3%;
				top: 16px;
			}
			&_2 {
				left: 23.1%;
				top: 77px;
			}
			&_3 {
				left: 9.1%;
				top: 184px;
			}
			&_4 {
				left: 0.28%;
				top: 188.1px;
			}
			&_5 {
				left: 53%;
				top: 267px;
			}
			&_6 {
				left: 43.5%;
				top: 352px;
			}
		}
		&__tabletImg {
			top: 3207px;
			left: 13.1%;
		}
	}

	.comment {
		&__title {
			font-weight: 400;
			font-size: 28px;
			line-height: 105%;
			letter-spacing: -0.05px;
			padding-bottom: 24px;
			padding-top: 32px;
		}
		&__sign {
			width: 24px;
			height: 19.68px;
		}
		&__text {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__smallBlock {
			gap: 8px;
			&_order1 {
				order: 0;
			}
		}
		&__whoIs {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__name {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__link {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__miniBlock {
			width: 268px;
		}
		&__block {
			gap: 24px;
		}
		&__bigBlock {
			gap: 24px;
			padding-bottom: 24px;
		}
	}

	.price {
		background: white;
		padding-top: 32px;
		padding-bottom: 16px;
		&__title {
			font-weight: 400;
			font-size: 28px;
			line-height: 105%;
			letter-spacing: -0.05px;
			padding-bottom: 24px;
		}
		&__block {
			padding: 0;
			width: 320px;
		}
		&__mainText {
			font-weight: 500;
			font-size: 20px;
			line-height: 125%;
			letter-spacing: -0.6px;
		}
		&__notMainText {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			width: 224px;
		}
		&__mainPrice {
			font-weight: 500;
			font-size: 20px;
			line-height: 125%;
			letter-spacing: -0.6px;
		}
		&__notMainPrice {
			flex-direction: column-reverse;
			gap: 4.95px;
		}
		&__discountPrice {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__discount {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
		}
		&__line {
			left: -5%;
			top: 3.04px;
		}
		&__miniBlock {
			gap: 9px;
			justify-content: flex-start;
		}
		&__addText {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			width: 300px;
		}
		&__input {
			width: 300px;
			height: 48px;
			padding: 10px 32px 12px 12px;
			font-weight: 400;
			font-size: 18px;
			line-height: 145%;
			letter-spacing: -0.05px;
			&::placeholder {
				font-weight: 400;
				font-size: 18px;
				line-height: 145%;
				letter-spacing: -0.05px;
			}
		}
		&__button {
			width: 300px;
			height: 48px;
			padding: 14px 24px;
			font-weight: 400;
			font-size: 18px;
			line-height: 130%;
			text-align: center;
			letter-spacing: -0.05px;
			display: flex;
			justify-content: center;
			align-items: center;
			&::placeholder {
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 400;
				font-size: 18px;
				line-height: 130%;
				text-align: center;
				letter-spacing: -0.05px;
			}
		}
		&__lastText {
			width: 215px;
		}
		&__form {
			padding-bottom: 8px;
		}
	}
}
