@media (max-width: 1160px) {
	.center {
		padding-left: calc(50% - 310px);
		padding-right: calc(50% - 310px);
	}

	.header {
		height: 736px;
		&__link {
			&_hover {
				display: none;
			}
		}
		&__threeRac {
			display: block;
		}

		&__smallTitle {
			font-weight: 400;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #ffffff;
		}
		&__svg {
			width: 157px;
			height: 55px;
			z-index: 0;
			margin-top: -10px;
			position: absolute;
			left: 12%;
		}
		&__main {
			font-weight: 400;
			font-size: 139px;
			line-height: 60%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #ffffff;
			padding-bottom: 20px;
		}
		&__junText {
			font-weight: 400;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #ffffff;
		}
		&__strelka {
			display: none;
		}
		&__tabletStrelka {
			display: block;
		}
		&__junior {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			padding-bottom: 32px;
		}
		&__description {
			width: 540px;
			position: relative;
		}
		&__smallText {
			font-weight: 400;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			margin-bottom: 48px;
		}
		&__secondSvg {
			width: 116px;
			height: 17px;
			position: absolute;
			right: -2%;
			bottom: 2%;
		}
		&__button {
			font-family: 'StratosSkyeng', sans-serif;
			width: 300px;
			height: 55px;
			background: #fcde00;
			border-radius: 12px;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			text-align: center;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			transition-duration: 0.3s;
			border: 0;
		}
		&__startWords {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #e8befc;
		}
		&__startData {
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #ffffff;
		}
		&__footer {
			display: flex;
			gap: 20px;
		}
		&__nav {
			display: flex;
			padding-top: 10px;
			justify-content: space-between;
		}
		&__title {
			margin-top: 50px;
			display: flex;
			position: relative;
		}
		&__amazing {
			transform: rotate(-3deg);
			word-spacing: -4px;
			z-index: 1;
		}
	}

	.section {
		&__title {
			font-weight: 400;
			font-size: 48px;
			line-height: 135%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			margin-top: 72px;
			width: 620px;
		}
		&__info {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			margin-top: 32px;
			gap: 40px;
			margin-bottom: 32px;
		}
		&__button {
			margin-bottom: 48px;
		}
	}

	.about {
		&__title {
			font-weight: 400;
			font-size: 48px;
			line-height: 135%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			padding-top: 40px;
			padding-bottom: 24px;
		}
		&__text {
			width: 620px;
			padding-bottom: 48px;
		}

		&__skills {
			display: flex;
			flex-direction: column;
			gap: 48px;
			padding-bottom: 48px;
		}
		&__check {
			width: 620px;
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		&__button {
			width: 620px;
		}
		&__buttonSpan {
			display: none;
		}
		&__name {
			&_padding {
				margin-bottom: -28px;
			}
		}
		&__wrap {
			display: none;
		}
		&__newWrap {
			display: inline;
		}
	}

	.info {
		&__title {
			padding-top: 64px;
			font-size: 48px;
			line-height: 135%;
			letter-spacing: -0.05px;
		}
		&__img {
			width: 265px;
			height: 40px;
		}
		&__span {
			display: flex;
			flex-wrap: wrap;
		}
		&__text {
			font-style: normal;
			font-weight: 400;
			font-size: 32px;
			line-height: 135%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			padding-bottom: 32px;
			width: 620px;
		}
		&__secondSpan {
			display: inline;
		}
		&__figure {
			display: flex;
			padding-bottom: 67px;
			flex-wrap: wrap;
			gap: 33px;
			padding-bottom: 48px;
		}
		&__footer {
			width: 620px;
		}
		&__form {
			display: flex;
			flex-direction: column;
			gap: 8px;
			padding-top: 32px;
		}
		&__input {
			width: auto;
		}
		&__button {
			width: auto;
		}
	}

	.all {
		&__title {
			font-weight: 400;
			font-size: 48px;
			line-height: 135%;
			letter-spacing: -0.05px;
			padding-bottom: 35px;
		}
		&__workshop {
			background: #f9ebff;
			border-radius: 20px;
			padding: 24px 0 30px 0;
			display: flex;
			flex-direction: column-reverse;
			position: relative;
			width: 640px;
			margin-bottom: 33px;
		}
		&__polygon {
			display: none;
		}
		&__frame {
			display: none;
		}
		&__img {
			width: 620px;
			height: 364px;
		}
		&__workshopimg {
			width: 620px;
			height: 364px;
		}
		&__second {
			width: 620px;
			height: auto;
		}
		&__text {
			width: 460px;
		}
		&__first {
			padding-left: 10px;
		}
		&__polygonNew {
			display: none;
		}
		&__video {
			display: flex;
			flex-direction: column;
			gap: 41px;
			margin-bottom: 24px;
		}
		&__videoMain {
			width: 620px;
			height: 442px;
		}
		&__videoimg {
			width: 620px;
			height: 442px;
		}
		&__point {
			display: none;
		}
		&__ultraText {
			display: none;
		}
		&__ultraTabletText {
			display: flex;
			flex-direction: column;
			gap: 16px;
			width: 460px;
		}
		&__homeimg {
			width: 620px;
		}
		&__homework {
			display: flex;
			flex-direction: column-reverse;
			gap: 24px;
			margin-bottom: 55px;
		}
		&__homeworkimg {
			width: 620px;
			height: 512px;
		}
		&__tabletHomeText {
			display: flex;
			flex-direction: column;
			width: 460px;
			gap: 16px;
		}
		&__hometext {
			display: none;
		}
		&__imgBond {
			width: 620px;
		}
		&__bond {
			display: flex;
			flex-direction: column;
			gap: 24px;
			margin-bottom: 40px;
		}
		&__textbond {
			display: none;
		}
		&__tabletTextBond {
			display: flex;
			justify-content: space-between;
		}
		&__tabletTextBlock1 {
			flex-direction: column;
			gap: 16px;
		}
		&__tabletTextBlock2 {
			display: flex;
			flex-direction: column;
			gap: 16px;
			width: 140px;
		}
		&__ultraTitle {
			width: 460px;
			padding: 0;
			&_tablet {
				width: 380px;
			}
		}
		&__miniText {
			&_tablet {
				width: 380px;
			}
		}

		&__greentext {
			font-weight: 400;
			font-size: 14px;
			line-height: 145%;
			text-align: center;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			width: 140px;
		}
		&__tabletBlock {
			width: 640px;
			display: flex;
			flex-direction: column;
			gap: 24px;
			background: #f9ebff;
			border-radius: 20px;
			padding: 40px 10px 40px 10px;
			margin-bottom: 88px;
		}
		&__block {
			display: none;
		}
		&__blocktext {
			width: 619px;
		}
		&__blocktitle {
			font-weight: 500;
			font-size: 32px;
			line-height: 135%;
			width: 418px;
		}
	}

	.teacher {
		br {
			display: none;
		}
		&__main {
			display: flex;
			flex-direction: column;
		}
		&__block {
			padding: 32px 40px 32px 40px;
		}
		&__title {
			font-weight: 400;
			font-size: 48px;
			line-height: 135%;
			letter-spacing: -0.05px;
			margin-bottom: 32px;
		}
		&__about {
			width: 436px;
		}
		&__name {
			font-weight: 400;
			font-size: 24px;
			line-height: 135%;
			letter-spacing: -0.05px;
		}
		&__creator {
			font-weight: 400;
			font-size: 24px;
			line-height: 135%;
			letter-spacing: -0.05px;
		}
		&__block {
			width: 640px;
		}
		&__freeText {
			display: none;
		}
		&__freeTitle {
			font-weight: 500;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
			padding-bottom: 8px;
		}
		&__tabletFreeText {
			display: block;
			font-weight: 400;
			font-size: 24px;
			line-height: 135%;
			letter-spacing: -0.05px;
			padding-bottom: 32px;
			width: 560px;
		}
		&__eachInput {
			width: 560px;
			height: 64px;
		}
		&__button {
			width: 560px;
			height: 64px;
		}
	}

	.promise {
		&__title {
			font-weight: 400;
			font-size: 48px;
			line-height: 135%;
			letter-spacing: -0.05px;
			width: 620px;
			padding-bottom: 32px;
			padding-top: 40px;
		}
		&__text {
			display: none;
		}
		&__tabletText {
			display: block;
			width: 540px;
			font-weight: 400;
			font-size: 32px;
			line-height: 135%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__miniText {
			display: none;
		}
		&__tabletMiniText {
			display: block;
			padding-top: 64px;
			width: 249px;
		}
		&__mark {
			width: 60px;
			height: 49px;
		}
		&__description {
			width: 378px;
		}
		&__megaBlock {
			display: none;
		}
		&__tabletMegaBlock {
			display: flex;
			width: 640px;
			padding: 32px 12px 40px 10px;
			gap: 22px;
			background: #ffffff;
			border-radius: 20px;
			position: relative;
			z-index: 2;
		}
		&__name {
			font-weight: 500;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
			&_1 {
				padding-bottom: 126px;
			}
			&_2 {
				padding-bottom: 834px;
			}
		}
		&__bigText {
			&_1 {
				padding-bottom: 32px;
			}
			&_2 {
				padding-bottom: 8px;
			}
			&_3 {
				padding-bottom: 24px;
			}
			&_4 {
				padding-bottom: 8px;
			}
			&_5 {
				padding-bottom: 24px;
			}
			&_6 {
				padding-bottom: 8px;
			}
			&_7 {
				padding-bottom: 24px;
			}
			&_8 {
				padding-bottom: 8px;
			}
			&_9 {
				padding-bottom: 32px;
			}
		}
		&__man {
			position: absolute;
			bottom: -137px;
			left: 58%;
			right: 42%;
			width: 270px;
			height: 485px;
		}
		&__miniBlock {
			padding-bottom: 176px;
		}
	}

	.skill {
		br {
			display: none;
		}
		&__main {
			gap: 0;
		}
		&__sql {
			gap: 9px;
		}
		&__title {
			font-weight: 400;
			font-size: 48px;
			line-height: 135%;
			letter-spacing: -0.05px;
			width: 300px;
			padding-bottom: 32px;
		}
		&__mainBlock {
			display: none;
		}
		&__tabletMainBlock {
			display: block;
			padding: 24px 32px 40px;
			width: 620px;
			margin-bottom: 85px;
			background: #f9ebff;
			border-radius: 20px;
		}
		&__allImg {
			display: none;
		}
		&__tabletAllImg {
			display: block;
			padding-top: 29px;
			position: relative;
		}
		&__block {
			padding-top: 35px;
		}
		&__img {
			position: absolute;
			&_1 {
				left: -186px;
				top: 27px;
			}
			&_2 {
				left: -175px;
				top: 70px;
			}
			&_3 {
				left: -212px;
				top: 150px;
			}
			&_4 {
				left: -224px;
				top: 143px;
			}
			&_5 {
				left: -115px;
				top: 196px;
			}
			&_6 {
				left: -130px;
				top: 255px;
			}
		}
		&__sqlName {
			width: auto;
			font-weight: 500;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
		}
		&__sqlImg {
			display: none;
		}
		&__sqlBlock {
			height: 574px;
		}
		&__tabletImg {
			display: block;
			position: absolute;
			top: 264px;
		}
		&__sqlAbout {
			width: auto;
			position: relative;
		}
		&__first {
			width: 82px;
		}
		&__second {
			width: 280px;
		}
		&__special {
			height: 1px;
			background: #000000;
			opacity: 0.2;
			width: 380px;
			margin-top: 24px;
			margin-left: 240px;
			margin-bottom: 24px;
		}
		&__analysisName {
			width: 220px;
			font-weight: 500;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
		}
		&__analysis {
			display: flex;
			gap: 20px;
		}
		&__analysisBlock {
			height: 248px;
		}
		&__pythonWow {
			position: absolute;
			top: 270px;
			left: 40px;
			width: 195.83px;
		}
		&__pythonBlock {
			height: 326px;
		}
		&__python {
			gap: 20px;
		}
		&__powerBI {
			gap: 20px;
		}
		&__powerBIBlock {
			height: 294px;
		}
		&__pythonStatName {
			display: none;
		}
		&__tabletPythonStatName {
			display: block;
			font-weight: 500;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
		}
		&__pythonStatBlock {
			height: 425px;
		}
		&__pythonStatImg {
			display: none;
		}
		&__tabletPythonStatImg {
			display: block;
			position: absolute;
			top: 134px;
			left: 13px;
		}
		&__pythonStat {
			gap: 20px;
		}
		&__pythonLastName {
			font-weight: 500;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__analytics {
			gap: 20px;
			padding-bottom: 107px;
		}
		&__analyticsBlock {
			height: 239px;
		}
		&__footer {
			display: none;
		}
		&__tabletFooter {
			display: block;
			width: 640px;
			padding: 32px 40px;
			background: #ececec;
			border-radius: 20px;
			margin-bottom: 0;
		}
		&__footerForm {
			display: flex;
			flex-direction: column;
		}
		&__footerTitle {
			font-weight: 500;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__footerText {
			width: 560px;
			flex-wrap: wrap;
			font-weight: 400;
			font-size: 24px;
			line-height: 135%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
		&__footerInput {
			width: 560px;
			height: 64px;
			font-family: 'StratosSkyeng';
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #04121b;
			&::placeholder {
				font-family: 'StratosSkyeng';
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 32px;
				letter-spacing: -0.05px;
				font-feature-settings: 'pnum' on, 'lnum' on;
				color: #04121b;
			}
		}
		&__button {
			width: 560px;
			height: 64px;
			background: #fcde00;
			border-radius: 8px;
			font-family: 'StratosSkyeng';
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #04121b;
		}
		&__footerLast {
			padding-top: 32px;
		}
	}
}
