@media (max-width: 1160px) {
	.center {
		padding-left: calc(50% - 310px);
		padding-right: calc(50% - 310px);
	}
	.header {
		height: 736px;
		&__link {
			&_hover {
				display: none;
			}
		}
		&__threeRac {
			display: block;
		}

		&__smallTitle {
			font-weight: 400;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #ffffff;
		}
		&__svg {
			width: 157px;
			height: 55px;
			z-index: 0;
			margin-top: -10px;
			position: absolute;
			left: 12%;
		}
		&__main {
			font-weight: 400;
			font-size: 139px;
			line-height: 60%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #ffffff;
			padding-bottom: 20px;
		}
		&__junText {
			font-weight: 400;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #ffffff;
		}
		&__strelka {
			display: none;
		}
		&__tabletStrelka {
			display: block;
		}
		&__junior {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			padding-bottom: 32px;
		}
		&__description {
			width: 540px;
			position: relative;
		}
		&__smallText {
			font-weight: 400;
			font-size: 28px;
			line-height: 125%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			margin-bottom: 48px;
		}
		&__secondSvg {
			width: 116px;
			height: 17px;
			position: absolute;
			right: -2%;
			bottom: 2%;
		}
		&__button {
			font-family: 'StratosSkyeng', sans-serif;
			width: 300px;
			height: 55px;
			background: #fcde00;
			border-radius: 12px;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			text-align: center;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			transition-duration: 0.3s;
			border: 0;
		}
		&__startWords {
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #e8befc;
		}
		&__startData {
			font-weight: 400;
			font-size: 20px;
			line-height: 135%;
			letter-spacing: -0.6px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #ffffff;
		}
		&__footer {
			display: flex;
			gap: 20px;
		}
		&__nav {
			display: flex;
			padding-top: 10px;
			justify-content: space-between;
		}
		&__title {
			margin-top: 50px;
			display: flex;
			position: relative;
		}
		&__amazing {
			transform: rotate(-3deg);
			word-spacing: -4px;
			z-index: 1;
		}
	}

	.section {
		&__title {
			font-weight: 400;
			font-size: 48px;
			line-height: 135%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
			margin-top: 72px;
			width: 620px;
		}
		&__info {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			margin-top: 32px;
			gap: 40px;
			margin-bottom: 32px;
		}
		&__button {
			margin-bottom: 48px;
		}
	}

	.about {
		&__title {
			font-weight: 400;
			font-size: 48px;
			line-height: 135%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			padding-top: 40px;
			padding-bottom: 24px;
		}
		&__text {
			width: 620px;
			padding-bottom: 48px;
		}

		&__skills {
			display: flex;
			flex-direction: column;
			gap: 48px;
			padding-bottom: 48px;
		}
		&__check {
			width: 620px;
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		&__button {
			width: 620px;
		}
		&__buttonSpan {
			display: none;
		}
		&__name {
			&_padding {
				margin-bottom: -28px;
			}
		}
		&__wrap {
			display: none;
		}
		&__newWrap {
			display: inline;
		}
	}

	.info {
		&__title {
			padding-top: 64px;
			font-size: 48px;
			line-height: 135%;
			letter-spacing: -0.05px;
		}
		&__img {
			width: 265px;
			height: 40px;
		}
		&__span {
			display: flex;
			flex-wrap: wraps;
		}
		&__text {
			font-style: normal;
			font-weight: 400;
			font-size: 32px;
			line-height: 135%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			padding-bottom: 32px;
			width: 620px;
		}
		&__secondSpan {
			display: inline;
		}
		&__figure {
			display: flex;
			padding-bottom: 67px;
			flex-wrap: wrap;
			gap: 33px;
			padding-bottom: 48px;
		}
		&__footer {
			width: 620px;
		}
		&__form {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding-top: 32px;
	}
	&__input {
		width: auto;
	}
	&__button {
		width: auto;
	}
	}
	
}
