.all__title {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 64px;
}
.all__workshop {
  background: #f9ebff;
  border-radius: 20px;
  padding: 32px;
  margin-bottom: 72px;
  display: flex;
  position: relative;
  width: 1160px;
  justify-content: space-between;
}
.all__team {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 16px;
}
.all__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  width: 319px;
}
.all__frame {
  display: block;
  position: absolute;
  left: 24px;
  bottom: -20px;
}
.all__second {
  position: relative;
  width: 728px;
  height: 428px;
}
.all__polygon {
  background-image: url(imgAll/Polygon.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 51%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 114px;
  height: 114px;
}
.all__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all__video {
  display: flex;
  gap: 41px;
  margin-bottom: 96px;
}
.all__point {
  display: flex;
  gap: 16px;
}
.all__ultraTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 16px;
}
.all__miniText {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.all__polygonNew {
  background-image: url(imgAll/Polygon.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 48%;
  left: 53.5%;
  transform: translate(-50%, -50%);
  width: 114px;
  height: 114px;
}
.all__homework {
  display: flex;
  gap: 40px;
}
.all__tabletHomeText {
  display: none;
}
.all__ultraTabletText {
  display: none;
}
.all__hometext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  gap: 16px;
  margin-bottom: 224px;
}
.all__ultraText {
  display: block;
}
.all__homeminitext {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ad61ff;
}
.all__homeimg {
  background-repeat: no-repeat;
}
.all__bond {
  display: flex;
  gap: 16px;
  margin-bottom: 79px;
}
.all__textbond {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.all__tabletTextBond {
  display: none;
}
.all__crown {
  width: 139px;
  height: 90px;
  margin-right: 10px;
}
.all__greentext {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #00a665;
}
.all__margin {
  margin-left: 24px;
}
.all__block {
  display: flex;
  gap: 48px;
  padding: 32px 72px 48px 40px;
  background: #f9ebff;
  border-radius: 20px;
  margin-bottom: 120px;
}
.all__tabletBlock {
  display: none;
}
.all__blocktitle {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  width: 312px;
}
.all__blocktext {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  width: 688px;
}
.all__pinkSpan {
  background: #e8befc;
  text-align: center;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style5.css.map */