.skill {
	&__main {
		display: flex;
		gap: 2px;
	}
	&__block {
		padding-top: 153px;
	}
	&__title {
		font-weight: 400;
		font-size: 72px;
		line-height: 100%;
		color: #ad61ff;
		letter-spacing: -0.6px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		width: 585px;
		padding-bottom: 38px;
	}
	&__span {
		color: #000000;
	}
	&__mainBlock {
		padding: 24px 100px 40px 32px;
		background: #f9ebff;
		border-radius: 20px;
		width: 660px;
		margin-bottom: 79px;
	}
	&__miniTitle {
		font-weight: 500;
		font-size: 18px;
		line-height: 130%;
		letter-spacing: -0.05px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #6000c7;
	}
	&__miniMark {
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
		letter-spacing: -0.05px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #6000c7;
	}
	&__textBlock {
		display: flex;
		padding-top: 18px;
	}
	&__mark {
		display: flex;
		gap: 18px;
	}
	&__textBlock {
		display: flex;
		flex-direction: column;
		height: 287px;
		justify-content: space-between;
	}
	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
		letter-spacing: -0.05px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #6000c7;
	}
	&__allImg {
		display: block;
		padding-top: 153px;
		position: relative;
	}
	&__tabletAllImg {
		display: none;
	}
	&__img {
		position: absolute;
		&_1 {
			left: 72px;
			top: 109px;
		}
		&_2 {
			left: 124px;
			top: 208px;
		}
		&_3 {
			left: 51px;
			top: 375px;
		}
		&_4 {
			left: 2px;
			top: 384px;
		}
		&_5 {
			left: 264px;
			top: 511px;
		}
		&_6 {
			left: 225px;
			top: 654px;
		}
	}

	&__sql {
		display: flex;
		gap: 140px;
	}

	&__sqlAbout {
		width: 460px;
		position: relative;
	}
	&__sqlTitle {
		font-weight: 500;
		font-size: 18px;
		line-height: 130%;
		letter-spacing: -0.05px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #ad61ff;
	}
	&__sqlName {
		font-weight: 500;
		font-size: 40px;
		line-height: 125%;
		letter-spacing: -0.6px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #000000;
	}

	&__sqlImg {
		position: absolute;
		top: 227px;
	}

	&__sqlBlock {
		height: 459px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__sqlModule {
		display: flex;
		gap: 18px;
	}
	&__special {
		height: 1px;
		background: #000000;
		opacity: 0.2;
		width: 560px;
		margin-top: 23px;
		margin-left: 600px;
		margin-bottom: 24px;
	}

	&__first {
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
		letter-spacing: -0.05px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #000000;
		opacity: 0.4;
	}
	&__second {
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
		letter-spacing: -0.05px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #000000;
	}

	&__analysis {
		display: flex;
		gap: 140px;
	}

	&__analysisName {
		font-weight: 500;
		font-size: 40px;
		line-height: 125%;
		letter-spacing: -0.6px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #000000;
	}
	&__analysisBlock {
		height: 179px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__python {
		display: flex;
		gap: 140px;
		position: relative;
	}

	&__pythonBlock {
		height: 257px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__pythonWow {
		position: absolute;
		top: 110spx;
		left: 169px;
	}

	&__powerBI {
		display: flex;
		gap: 140px;
	}
	&__powerBIBlock {
		height: 179px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__pythonStat {
		display: flex;
		gap: 140px;
	}
	&__pythonStatBlock {
		height: 310px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__pythonStatName {
		font-weight: 500;
		font-size: 40px;
		line-height: 125%;
		letter-spacing: -0.6px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #000000;
	}
	&__pythonStatImg {
		position: absolute;
		top: 134px;
		left: 13px;
	}
	&__pythonStatAbout {
		width: 460px;
		position: relative;
	}

	&__analytics {
		display: flex;
		gap: 140px;
		padding-bottom: 59px;
	}
	&__analyticsBlock {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 170px;
	}
	&__footer {
		padding: 32px 40px 32px 40px;
		background: #ececec;
		border-radius: 20px;
		margin-bottom: 64px;
	}
	&__footerTitle {
		font-weight: 500;
		font-size: 40px;
		line-height: 125%;
		letter-spacing: -0.6px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #000000;
		padding-bottom: 8px;
	}
	&__footerText {
		width: 990px;
		font-weight: 400;
		font-size: 32px;
		line-height: 135%;
		display: flex;
		align-items: center;
		letter-spacing: -0.05px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #000000;
		padding-bottom: 32px;
	}
	&__footerForm {
		display: flex;
		gap: 8px;
	}
	&__footerInput {
		height: 48px;
		width: 264px;
		padding: 10px 12px 12px 12px;
		font-family: 'StratosSkyeng';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 145%;
		letter-spacing: -0.05px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #000000;
		background: #ffffff;
		border-radius: 8px;

		&::placeholder {
			font-family: 'StratosSkyeng';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 145%;
			letter-spacing: -0.05px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #000000;
		}
	}
	&__button {
		background: #fcde00;
		border-radius: 8px;
		width: 264px;
		height: 48px;
		font-family: 'StratosSkyeng';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
		text-align: center;
		letter-spacing: -0.05px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #000000;
	}
}
