.promise {
  background: #f9ebff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 64px;
}
.promise__title {
  padding-top: 56px;
  padding-bottom: 48px;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #6000c7;
  width: 957px;
}
.promise__block {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  z-index: 2;
}
.promise__miniBlock {
  padding-bottom: 56px;
}
.promise__man {
  position: absolute;
  bottom: 0;
  left: 62%;
  right: 38%;
  z-index: 1;
}
.promise__mobileMan {
  display: none;
}
.promise__text {
  display: block;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 16px;
  width: 620px;
}
.promise__mobileMiniText {
  display: none;
}
.promise__tabletText {
  display: none;
}
.promise__miniText {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.promise__tabletMiniText {
  display: none;
}
.promise .promise-center {
  margin-left: calc(50% - 480px);
  margin-right: calc(50% - 480px);
}
.promise__megaBlock {
  position: relative;
  width: 960px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  gap: 40px;
  padding: 32px 100px 48px 40px;
  z-index: 2;
}
.promise__tabletMegaBlock {
  display: none;
}
.promise__mobileMegaBlock {
  display: none;
}
.promise__name {
  font-weight: 500;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  width: 220px;
}
.promise__name_1 {
  padding-bottom: 115px;
}
.promise__name_2 {
  padding-bottom: 697px;
}
.promise__name_3 {
  color: #6000c7;
}
.promise__description {
  width: 559px;
}
.promise__bigText_1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 72px;
}
.promise__bigText_2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 16px;
}
.promise__bigText_3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 40px;
}
.promise__bigText_4 {
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 16px;
}
.promise__bigText_5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 40px;
}
.promise__bigText_6 {
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 16px;
}
.promise__bigText_7 {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 40px;
}
.promise__bigText_8 {
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 16px;
}
.promise__bigText_9 {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 72px;
}
.promise__bigText_10 {
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #6000c7;
}/*# sourceMappingURL=style7.css.map */