.skill__main {
  display: flex;
}
.skill__block {
  padding-top: 153px;
}
.skill__mobileBlock {
  display: none;
}
.skill__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  color: #ad61ff;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  width: 585px;
  padding-bottom: 38px;
}
.skill__span {
  color: #000000;
}
.skill__mobileFooter {
  display: none;
}
.skill__mainBlock {
  display: block;
  padding: 24px 32px 40px;
  background: #f9ebff;
  border-radius: 20px;
  width: 660px;
  margin-bottom: 79px;
}
.skill__tabletMainBlock {
  display: none;
}
.skill__miniTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #6000c7;
}
.skill__miniMark {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #6000c7;
}
.skill__textBlock {
  display: flex;
  padding-top: 18px;
}
.skill__mark {
  display: flex;
  gap: 18px;
}
.skill__textBlock {
  display: flex;
  flex-direction: column;
  height: 287px;
  justify-content: space-between;
}
.skill__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #6000c7;
}
.skill__allImg {
  display: block;
  padding-top: 153px;
  position: relative;
}
.skill__tabletAllImg {
  display: none;
}
.skill__img {
  position: absolute;
}
.skill__img_1 {
  left: 63px;
  top: 109px;
}
.skill__img_2 {
  left: 115px;
  top: 208px;
}
.skill__img_3 {
  left: 42px;
  top: 375px;
}
.skill__img_4 {
  left: -7px;
  top: 384px;
}
.skill__img_5 {
  left: 255px;
  top: 511px;
}
.skill__img_6 {
  left: 216px;
  top: 654px;
}
.skill__sql {
  display: flex;
  gap: 140px;
}
.skill__sqlAbout {
  width: 460px;
  position: relative;
}
.skill__sqlTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ad61ff;
}
.skill__sqlName {
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.skill__sqlImg {
  display: block;
  position: absolute;
  top: 227px;
}
.skill__tabletImg {
  display: none;
}
.skill__sqlBlock {
  height: 459px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill__sqlModule {
  display: flex;
  gap: 18px;
}
.skill__special {
  height: 1px;
  background: #000000;
  opacity: 0.2;
  width: 560px;
  margin-top: 23px;
  margin-left: 600px;
  margin-bottom: 24px;
}
.skill__first {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  opacity: 0.4;
}
.skill__second {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.skill__analysis {
  display: flex;
  gap: 140px;
}
.skill__analysisName {
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.skill__analysisBlock {
  height: 179px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill__python {
  display: flex;
  gap: 140px;
  position: relative;
}
.skill__pythonBlock {
  height: 257px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill__pythonWow {
  position: absolute;
  top: 110px;
  left: 169px;
}
.skill__powerBI {
  display: flex;
  gap: 140px;
}
.skill__powerBIBlock {
  height: 179px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill__pythonStat {
  display: flex;
  gap: 140px;
}
.skill__pythonStatBlock {
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill__pythonStatName {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.skill__pythonLastName {
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.skill__tabletPythonStatName {
  display: none;
}
.skill__pythonStatImg {
  display: block;
  position: absolute;
  top: 134px;
  left: 13px;
}
.skill__tabletPythonStatImg {
  display: none;
}
.skill__pythonStatAbout {
  width: 460px;
  position: relative;
}
.skill__analytics {
  display: flex;
  gap: 140px;
  padding-bottom: 59px;
}
.skill__analyticsBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
}
.skill__footer {
  display: block;
  padding: 32px 40px 32px 40px;
  background: #ececec;
  border-radius: 20px;
  margin-bottom: 64px;
}
.skill__tabletFooter {
  display: none;
}
.skill__footerTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 8px;
}
.skill__footerText {
  width: 990px;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  display: flex;
  align-items: center;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 32px;
}
.skill__footerForm {
  display: flex;
  gap: 8px;
}
.skill__footerInput {
  height: 48px;
  width: 264px;
  padding: 10px 12px 12px 12px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  background: #ffffff;
  border-radius: 8px;
}
.skill__footerInput::-moz-placeholder {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.skill__footerInput:-ms-input-placeholder {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.skill__footerInput::placeholder {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.skill__button {
  background: #fcde00;
  border-radius: 8px;
  width: 264px;
  height: 48px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.skill__footerLast {
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-top: 11px;
}/*# sourceMappingURL=style8.css.map */